[submodule "barbershopui"]
	path = barbershopui
	url = https://github.com/irfanwani/barbershopui
[submodule "barbershopbackend"]
	path = barbershopbackend
	url = https://github.com/irfanwani/barbershopbackend
[submodule "servicebarbershop"]
	path = servicebarbershop
	url = https://github.com/Irfanwani/servicebarbershop.git
